h1 {
  font-size: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.category {
  font-size: 30px;
}

.container-list {
  margin: 30px auto;
}

.container-list ul {
  max-width: 1200px;
  margin: 0 auto;
}
ul li {
  width: 700px;
  margin: 0 auto;
  text-align: start;
  font-size: 18px;
  padding: 10px;
}

.check {
  margin-left: 10px;
}

.checked {
  text-decoration: line-through solid black;
}

.btn-finish {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}
